* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    background-image: url("https://sa1s3optim.patientpop.com/assets/images/provider/photos/2138869.jpg");
    background-size: cover;
  }
  
  h2 {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      rgb(4, 145, 201),
      rgb(213, 224, 228)
    );
    padding: 5px;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0;
  }
  
  .container {
    border: 2px solid black;
    background-color: white;
  }
  
  .col {
    padding: 0;
  }
  
  .filters {
    background-color: whitesmoke;
    padding: 10px;
  }
  
  .filters .city_div {
    text-align: center;
  }
  
  .filters .col-6 select {
    width: 200px;
    padding: 5px;
    margin-left: 20px;
  }
  
  .info_div {
    background-color: #25ccf7;
    height: 320px;
  }
  
  .info_div .information {
    padding: 20px;
    margin-top: 20px;
  }
  
  .info_div .information .value {
    position: absolute;
    left: 300px;
    text-transform: capitalize;
    line-height: 2.5em;
  }
  
  .info_div .information .label {
    line-height: 2.5em;
  }
  
  hr {
    margin: 0px;
    border: 1px solid gray;
  }
  
  .footer {
    background-image: linear-gradient(
      to right,
      rgb(151, 166, 172),
      rgb(232, 243, 247)
    );
  }
  
  .footer p {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 12px;
  }
  
  .links {
    text-align: right;
  }
  
  .links a {
    padding-left: 10px;
  }
  
  .links a i {
    color: black;
  }